rules_version = '2';

service cloud.firestore {
  //match whole firebase firestore database
  match /databases/{database}/documents {

    // Transactions

    //match whole transactions collection with all documents
    match /transactions/{document=**} {
      //allow read, create, delete, update;

      //if user is logged in allow create new transaction documents
      allow create: if request.auth != null;

      //if uid of user who is making request is equal to uid of createdBy property in document allow read and delete and update(logged in user can only see, update and delete his/her own entries)
      //resource object represents the document that we are trying to fetch
      allow read, delete, update: if request.auth.uid == resource.data.createdBy

    }

    // Users
    match /users/{user} {
    allow create: if request.auth != null;
    allow  update, delete: if request.auth != null && request.auth.uid == user;
    allow read;
    }
  }
}